extends layout.pug

block content
    .container 
        .row
            .col-md-11
                h1 Create Contact
                .card.bg-light
                    .card-body
                        form(action='/create', method='post') 
                            legend  Basic Info
                            .row
                                .col-md-6
                                    section 
                                    label(for='first') First Name
                                    input.form-control(type = 'text', name='first', required)
                                .col-md-6.mb-3
                                    label(for='last') Last Name
                                    input.form-control(type = 'text', name='last')
                                .col-md-6.mb-3
                                    label(for='title') Title (select one): 
                                        input(type='radio', name='title', id='Mr.', value='Mr.')
                                        label(for='Mr.') Mr.
                                        input(type='radio', name='title', id='Mrs.', value='Mrs.')
                                        label(for='Mrs.') Mrs.
                                        input(type='radio', name='title', id='Ms.', value='Ms.')
                                        label(for='Ms.') Ms.
                                        input(type='radio', name='title', id='Dr.', value='Dr.')
                                        label(for='Dr.') Dr.
                            .mb-3
                                label(for='phone') Phone 
                                input.form-control(type = 'tel', name='phone') 
                            .mb-3 
                                label(for='email') Email
                                input.form-control(type='email', name='email')
                            legend Address
                            section 
                            label(for='street') Full Address
                            input.form-control.mb-3(type='text', name='address', required)
                            legend Contact Preferences
                            section 
                            input(type='checkbox', name='contact_by_phone')
                            label(for='contact_by_phone') Contact by phone 
                            section 
                            input(type='checkbox', name='contact_by_email')
                            label(for='contact_by_email') Contact by email 
                            section 
                            input(type='checkbox', name='contact_by_mail')
                            label.mb-3(for='contact_by_mail') Contact by mail 
                            .mb-2
                                button.btn.btn-primary.me-3(type='submit') Add 
                                a.btn.btn-secondary(type='sumbit',href='/') Cancel
                        if message
                            p #{message}
                                

                    

