extends layout.pug 

block content 
    body
        .container
            .row
                .col
                    h1 Contact List
                .col
                    a.btn.btn-primary.float-end(role='button', href='/create') Create a new contact
            ul.list-group
                li.list-group-item Row 1
                li.list-group-item Row 2
                li.list-group-item Row 3